!!!
html
  head
    link(rel='stylesheet', href='/style/reset.css')
    script(src='play.js')
    style.
      video, canvas {
        background-color: black;
        position: absolute;
      }
  body
    video(width=400, height=300, autoplay=true)
    canvas(width=400, height=300)