doctype

html
  head
    link(rel='stylesheet', href='/style/reset.css')
    script(src='websocket.js')
    style.
      canvas { background-color: lightblue; }
  body
    canvas(width=800, height=600)
    